<form action="/bike/create" method="POST"></form>
<label>
    Title:
    <input type="text" name="title" />
  </label>

  <label>
    Brand:
    <input type="text" />
  </label>

  <label>
    Location:
    <input type="number" />
  </label>


<label>
    Status:
    <input type="text" />
  </label>

  <label>
    Size:
    <input type="text" />
  </label>

  <label>
    Description:
    <textarea name="description" cols="30" rows="4"></textarea>
  </label>

  <label>Picture
    <input type="file" name="picture">
  </label>


  <button>Create a bike</button>
</form>
  
   