<form action="/bike/create" method="POST" enctype="multipart/form-data">



  <label>
    Type
    <input type="text" name="type" />
  </label>

  <label>
    Brand:
    <input type="text" name="brand" />
  </label>

  <label>
    Location:
    <input type="text" name="location" />
  </label>


  <label>
    Status:
    <input type="text" name="status" />
  </label>

  <label>
    Size:
    <input type="text" name="size" />
  </label>

  <label>
    Description:
    <textarea name="description" cols="30" rows="4"></textarea>
  </label>

  <input type="number" name="latitude" placeholder="latitude">
  <input type="number" name="longitude" placeholder="longitude">

  <label>Picture
    <input type="file" name="picture">
  </label>


  <button>Create a bike</button>
</form>