<form  action="/bike/create" method="POST" enctype="multipart/form-data">

  <label class="label">
    Type
    <input type="text" name="type"  />

    Brand:
    <input type="text" name="brand" />

    Location:
    <input type="text" name="location" />

    <input type="number" name="latitude" placeholder="latitude">
    <input type="number" name="longitude" placeholder="longitude">

    Status:
    <input type="text" name="status" />

    Size:
    <input type="text" name="size" />

    Description:
    <textarea name="description" cols="30" rows="4"></textarea>

    Picture
    <input type="file" name="picture">
    
  </label>


  <button class="create">Create a bike</button>
</form>