<div class="title">

  <h1>{{title}}</h1>
  <h3>Ne laisse plus ton vélo dans ton garage, loue le ! </h3>
  <form>
    <div class="formSearch">

      <label for="">Localisation</label>
      <input type="text" id="input-information" name="localisation" placeholder="Saisis un lieu ou tu veux pédaler.." />

    </div>

    <div class="formSearch">
      <label for="">Type de vélo </label>
      <input type="text" id="input-information" name="typeVelo" placeholder="Avec quel vélo tu veux pédaler.." />
    </div>


  </form>
</div>

</div>


<h2>Les vélos disponibles près de chez toi </h2>


<ul>
  {{#each bikes}}
  <li>
    <h2>{{this.type}} </h2>
    <a href='/bikes/{{id}}'> détail</a>
    <a href='/bikes/{{id}}/'> louer ce velo</a>
  </li>
  {{/each}}
</ul>