<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
</head>

<body>

  <nav>
    <div class="navbarUl">
      <div id="to-left">
        <p><a href="/"> Accueil </a></p>
      </div>


      <div id="to-right">
        {{#if user}}


        <a href="/bike/create">Ajouter un vélo </a>
        <a href="/profil">Mon compte</a>
        <form id="logout-form" action="/logout" method="POST">
          <a href="/">Se déconnecter</a>
        </form>
        {{else}}
        <a href="/signup">Inscription</a>
        <a href="/login">Connexion</a>

        {{/if}}
      </div>
    </div>
  </nav>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>

</html>