je suis une liste de vélos

<a href="/books/create">New livre</a>

<ul>
  {{#each velos}}
  <li>
    <h2>{{this.title}} (<a href="/books/{{this._id}}/edit">edit me</a> | <a href="/books/{{this._id}}/delete">delete
        me</a>)</h2>
    <a href="/books/{{this._id}}">Voir le detail</a>
  </li>
  {{/each}}
</ul>
</body>

</html>