<div id="form">
  <h2>Inscription</h2>
  <form action="/signup" method="POST">
    <input type="username" id="input-information" name="prenom" placeholder="Ton petit nom" />

    <input type="username" id="input-information" name="nom" placeholder="Ton nom de famille" />

    <input type="username" id="input-information" name="pseudo" placeholder="Ton blaze" />


    <input type="mail" id="input-information" name="mail" placeholder="Ton courriel" />

    <input type="number" id="input-information" name="telephone" placeholder="Ton 06.." />

    <input type="text" id="input-information" name="adresse" placeholder="Ton château" />

    <input type="password" name="password" id="input-password" placeholder="********" />

    <button type="submit">Créer un compte</button>

    {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>