<div id="form">
  <h2>Sign Up</h2>
  <form action="/signup" method="POST">
    <label for="input-username">Prenom</label>
    <input type="username" id="input-information" name="prenom" placeholder="" />

    <label for="">Nom</label>
    <input type="username" id="input-information" name="nom" placeholder="" />

    <label for="">Pseudo</label>
    <input type="username" id="input-information" name="pseudo" placeholder="" />

    <label for="">Mail</label>
    <input type="mail" id="input-information" name="mail" placeholder="" />

    <label for="">Telephone</label>
    <input type="number" id="input-information" name="telephone" placeholder="06.." />

    <label for="">Adresse</label>
    <input type="text" id="input-information" name="adresse" placeholder="" />

    <label for="input-password">Password</label>
    <input type="password" name="password" id="input-password" placeholder="********" />
 
    <button type="submit">Login</button>
 
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>
