body {
 margin: 10px;
  font: 14px "Varela Round", sans-serif;
}

/*.nav-bar ul {
  list-style-type: none;
  background-color: red;
  margin: 0;  
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
}*/

a:link {
  text-decoration: none;
}


.navbarUl {
  display: flex;
  list-style-type: none;
  text-decoration: none;
  align-items: center;
  padding-left: 0;
  justify-content: start;
  max-width: 720px;
  margin: 0 auto;
  height: 10vh;
}

#to-left {
  text-align: center;
  margin-right: 70vh;
  width: 100px;
  padding: 20px;
  justify-content: flex-start;
}

#to-left p {
  margin-left: 0;
  justify-content: flex-start;
  text-decoration: none;
  list-style: none;
  
}

#to-right {
display: flex;
justify-content: flex-end;
text-align: center;
}

#to-right a {
width: 20vh;
color: black;
list-style-type: none;
padding: 10px;
}

#to-right form{
  display: flex;
align-items: center;
}


.button{
  background-color: yellow;
}